asgiref==3.4.1
certifi==2021.5.30
Django==3.2.13
django-ckeditor==6.1.0
django-filter==2.4.0
django-js-asset==1.2.2
django-treebeard==4.5.1
djangorestframework==3.12.4
easy-thumbnails==2.7.1
Pillow==8.3.0
pytils==0.3
pytz==2021.1
sentry-sdk==1.1.0
sqlparse==0.4.1
urllib3==1.26.6
