{% load static i18n %}
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>{{ heading }}</h2>
                    <div class="breadcrumb__option">
                        <a href="{% url 'index' %}">{% trans 'Home' %}</a>
                        {% if product %}
                            <a href="{% url 'shop' %}">{% trans 'Shop' %}</a>
                            <a href="{% url 'shop-category' product.category.slug %}">{{ product.category.title }}</a>
                            <span>{{ product.title }}</span>
                        {% else %}
                            <span>{{ page_title }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>