{% load static %}
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                {% include '_carousel/item.html' with img='img/categories/cat-1.jpg' title='Fresh Fruit' %}
                {% include '_carousel/item.html' with img='img/categories/cat-2.jpg' title='Dried Fruit' %}
                {% include '_carousel/item.html' with img='img/categories/cat-3.jpg' title='Vegetables' %}
                {% include '_carousel/item.html' with img='img/categories/cat-4.jpg' title='drink fruits' %}
                {% include '_carousel/item.html' with img='img/categories/cat-5.jpg' title='drink fruits' %}
            </div>
        </div>
    </div>
</section>