{% load static i18n %}
<div class="blog__sidebar">
    <div class="blog__sidebar__search">
        <form action="#">
            <input type="text" placeholder="{% trans 'Search...' %}">
            <button type="submit"><span class="icon_search"></span></button>
        </form>
    </div>
    <div class="blog__sidebar__item">
        {% include '_blog_sidebar/_categories.html' %}
    </div>
    <div class="blog__sidebar__item">
        {% include '_blog_sidebar/_recent_news.html' %}
    </div>
</div>