{% load i18n shop_tags %}
<section class="product spad">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-5">
                {% include '_products/sidebar.html' %}
            </div>

            <div class="col-lg-9 col-md-7">

                {# Sale block #}
                {#                {% include '_products/sale.html' %}#}
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>{% trans 'Sale Off' %}</h2>
                    </div>
                    <div class="row">
                        {% sale_block %}
                    </div>
                </div>


                    {# Top products Sort by, Products found, View #}
                    {% include '_products/_products_heading.html' %}

                    <div class="row">
                        {% for product in product_list %}
                            {% include '_products/normal_product.html' with product=product %}
                        {% endfor %}
                        {#                    {% include '_products/normal_product.html' with img='img/product/product-1.jpg' %}#}
                        {#                    {% include '_products/normal_product.html' with img='img/product/product-2.jpg' %}#}
                        {#                    {% include '_products/normal_product.html' with img='img/product/product-3.jpg' %}#}
                        {#                    {% include '_products/normal_product.html' with img='img/product/product-4.jpg' %}#}
                        {#                    {% include '_products/normal_product.html' with img='img/product/product-5.jpg' %}#}
                        {#                    {% include '_products/normal_product.html' with img='img/product/product-6.jpg' %}#}
                        {#                    {% include '_products/normal_product.html' with img='img/product/product-7.jpg' %}#}
                        {#                    {% include '_products/normal_product.html' with img='img/product/product-8.jpg' %}#}
                        {#                    {% include '_products/normal_product.html' with img='img/product/product-9.jpg' %}#}
                        {#                    {% include '_products/normal_product.html' with img='img/product/product-10.jpg' %}#}
                        {#                    {% include '_products/normal_product.html' with img='img/product/product-11.jpg' %}#}
                        {#                    {% include '_products/normal_product.html' with img='img/product/product-12.jpg' %}#}

                    </div>
                    {% include '_pagination/main.html' %}
                </div>
            </div>
        </div>
</section>