{% load i18n thumbnail shop_tags %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title related__product__title">
                <h2>{% trans 'Related Product' %}</h2>
            </div>
        </div>
    </div>
    <div class="row">
        {% for product in related_products %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    {% thumbnail product.main_image 262x270 crop as thumb %}
                    <div class="product__item__pic set-bg" data-setbg="{{ thumb.url }}">
                        <ul class="product__item__pic__hover">
                            {% include 'product_links.html' with product=product %}
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>
                            <a href="#">{{ product.title }}</a>
                        </h6>
                        <h5>{{ product.price|currency }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>