{% load thumbnail %}
<div class="product__discount__slider owl-carousel">
    {% for product in sale_products %}
        <div class="col-lg-4">
            <div class="product__discount__item">
                {% thumbnail product.main_image 262x270 crop as thumb %}
                <div class="product__discount__item__pic set-bg"
                     data-setbg="{{ thumb.url }}">
                    <div class="product__discount__percent">-{{ product.discount_percent }}%</div>
                    <ul class="product__item__pic__hover">
                        {% include 'product_links.html' with product=product %}
                    </ul>
                </div>
                <div class="product__discount__item__text">
                    <span>{{ product.category.title }}</span>
                    <h5>
                        <a href="{% url 'product-details' product.slug %}">{{ product.title }}</a>
                    </h5>
                    <div class="product__item__price">{{ product.price }} {{ site.currency }}
                        <span>{{ product.strikeout_price }} {{ site.currency }}</span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>