{% include '_blog_post_details/post_heading.html' %}

<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 order-md-1 order-2">
                {% include '_blog_sidebar/main.html' %}
            </div>
            <div class="col-lg-8 col-md-7 order-md-1 order-1">
                {% include '_blog_post_details/post_content.html' %}
            </div>
        </div>
    </div>
</section>

{% include '_related_posts/main.html' with title='Post You May Like' %}