{% load thumbnail shop_tags %}
<tr id="product-{{ product.cart_product_id }}">
    <td class="shoping__cart__item">
        {% thumbnail product.image 100x100 crop as thumb %}
        <img src="{{ thumb.url }}" alt="">
        <h5>
            <a class="cart-btn" href="{% url 'product-details' product.slug %}">{{ product.title }}</a>
        </h5>
    </td>
    <td class="shoping__cart__price">
        {{ product.price|currency }}
    </td>
    <td class="shoping__cart__quantity">
        <div class="quantity">
            <div class="pro-qty cart">
                <input type="text" data-cart-product-id="{{ product.cart_product_id }}" value="{{ product.count }}">
            </div>
        </div>
    </td>
    <td class="shoping__cart__total">
        <span>{{ product.total|floatformat:2 }}</span> {{ site.currency }}
    </td>
    <td class="shoping__cart__item__close">
        <span class="icon_close" data-product-id="{{ product.cart_product_id }}"></span>
    </td>
</tr>