{% load static i18n %}
<section class="hero{% if closed %} hero-normal{% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {% include '_hero/categories.html' %}
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    {% include '_hero/search.html' %}

                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>{{ site.phone }}</h5>
                            <span>{% trans 'support 24/7 time' %}</span>
                        </div>
                    </div>
                </div>

                {% if not closed %}
                    <div class="hero__item set-bg" data-setbg="{% static 'img/hero/banner.jpg' %}">
                        <div class="hero__text">
                            <span>FRUIT FRESH</span>
                            <h2>Vegetable <br/>100% Organic</h2>
                            <p>Free Pickup and Delivery Available</p>
                            <a href="{% url 'shop' %}" class="primary-btn">{% trans 'SHOP NOW' %}</a>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</section>