{% load thumbnail %}
<div class="col-lg-4">
    <div class="product__discount__item">
        {% thumbnail product.main_image 262x270 crop as thumb %}
        <div class="product__discount__item__pic set-bg"
             data-setbg="{{ thumb.url }}">
            <div class="product__discount__percent">-{{ product.discount_percent }}%</div>
            <ul class="product__item__pic__hover">
                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                <li>
                    <a href="#" data-product-id="{{ product.id }}" class="add-to-cart">
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="product__discount__item__text">
            <span>{{ product.category.title }}</span>
            <h5>
                <a href="{% url 'product-details' product.slug %}">{{ product.title }}</a>
            </h5>
            <div class="product__item__price">{{ product.price }} <span>{{ product.strikeout_price }}</span></div>
        </div>
    </div>
</div>