{% load static thumbnail %}
<div class="col-lg-4 col-md-6 col-sm-6">
    <div class="product__item">
        {% thumbnail product.main_image 262x270 crop as thumb %}
        <div class="product__item__pic set-bg" data-setbg="{{ thumb.url }}">
            <ul class="product__item__pic__hover">
                {% include 'product_links.html' with product=product %}
            </ul>
        </div>
        <div class="product__item__text">
            <h6>
                <a href="{% url 'product-details' product.slug %}">{{ product.title }}</a>
            </h6>
            <h5>
                {{ product.price }} {{ site.currency }}
            </h5>
        </div>
    </div>
</div>