{% load i18n thumbnail %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                <div class="row my-3">
                    <div class="col-lg-5">
                        {% if user.avatar %}
                            {% thumbnail user.avatar 150x150 crop as ava %}
                            <img src="{{ ava.url }}" alt="" class="img-thumbnail">
                        {% endif %}
                    </div>
                    <div class="col-lg-7 text-center">
                        <div class="h3">{{ user.username }}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{% trans 'Save' %}" class="site-btn">
                </form>
            </div>
        </div>
    </div>
</div>