{% load i18n shop_tags %}
<div class="product__details__text">
    <h3>{{ product.title }}</h3>
    {#    <div class="product__details__rating">#}
    {#        <i class="fa fa-star"></i>#}
    {#        <i class="fa fa-star"></i>#}
    {#        <i class="fa fa-star"></i>#}
    {#        <i class="fa fa-star"></i>#}
    {#        <i class="fa fa-star-half-o"></i>#}
    {#        <span>(18 reviews)</span>#}
    {#    </div>#}
    <div class="product__details__price">
        {{ product.price|currency }}
    </div>
    <p>{{ product.description|safe }}</p>
    <div class="product__details__quantity">
        <div class="quantity">
            <div class="pro-qty">
                <input type="text" value="1" id="qty-input">
            </div>
        </div>
    </div>
    {% csrf_token %}
    <a href="#" class="primary-btn" id="add-to-cart" data-product-id="{{ product.id }}">{% trans 'ADD TO CARD' %}</a>
    <a href="#" class="heart-icon add-to-favorite" data-product-id="{{ product.id }}">
        <span class="icon_heart_alt"></span>
    </a>
    <ul>
        {% for characteristic in product_characteristics %}
            <li>
                <b>{{ characteristic.measure.get_category_display }}</b>
                <span>{{ characteristic.value }} {{ characteristic.measure.title }}</span>
            </li>
        {% endfor %}

        <li>
            <b>{% trans 'Share on' %}</b>
            <div class="share">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
            </div>
        </li>
    </ul>
</div>