{% load static i18n %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="header__logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/logo.png' %}" alt="">
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <nav class="header__menu">
                <ul>
                    <li>
                        <a href="{% url 'index' %}">{% trans 'Home' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'shop' %}">{% trans 'Shop' %}</a>
                    </li>
                    {#                    <li><a href="#">Pages</a>#}
                    {#                        <ul class="header__menu__dropdown">#}
                    {#                            <li>#}
                    {#                                <a href="./shop-details.html">Shop Details</a>#}
                    {#                            </li>#}
                    {#                            <li>#}
                    {#                                <a href="./shoping-cart.html">Shoping Cart</a>#}
                    {#                            </li>#}
                    {#                            <li>#}
                    {#                                <a href="./checkout.html">Check Out</a>#}
                    {#                            </li>#}
                    {#                            <li>#}
                    {#                                <a href="./blog-details.html">Blog Details</a>#}
                    {#                            </li>#}
                    {#                        </ul>#}
                    {#                    </li>#}
                    <li>
                        <a href="{% url 'blog' %}">{% trans 'Blog' %}</a>
                    </li>
                    <li>
                        {#                         class="active"#}
                        <a href="{% url 'contacts' %}">{% trans 'Contact' %}</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3">
            <div class="header__cart">
                <ul>
                    <li><a href="#"><i class="fa fa-heart"></i> <span>0</span></a></li>
                    <li>
                        <a href="{% url 'cart' %}">
                            <i class="fa fa-shopping-bag"></i> <span>{{ products_in_cart }}</span>
                        </a>
                    </li>
                </ul>
                <div class="header__cart__price">{% trans 'order' %}: <span>$150.00</span></div>
            </div>
        </div>
    </div>
    <div class="humberger__open">
        <i class="fa fa-bars"></i>
    </div>
</div>