{% load static i18n %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="header__logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/logo.png' %}" alt="">
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <nav class="header__menu">
                <ul>
                    <li>
                        <a href="{% url 'index' %}">{% trans 'Home' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'shop' %}">{% trans 'Shop' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'blog' %}">{% trans 'Blog' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'contacts' %}">{% trans 'Contact' %}</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3">
            <div class="header__cart">
                <ul>
                    <li><a href="#"><i class="fa fa-heart"></i> <span>0</span></a></li>
                    <li>
                        <a href="{% url 'cart' %}">
                            <i class="fa fa-shopping-bag"></i> <span
                                id="cart-products-count">{{ products_in_cart }}</span>
                        </a>
                    </li>
                </ul>
                <div class="header__cart__price">{% trans 'order' %}: <span
                        id="cart-products-total">{{ cart_total|floatformat:2 }}</span> {{ site.currency }}</div>
            </div>
        </div>
    </div>
    <div class="humberger__open">
        <i class="fa fa-bars"></i>
    </div>
</div>