{% load i18n %}
<div class="checkout__form">
    <h4>{% trans 'Billing Details' %}</h4>
    <form action="{% url 'checkout' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-8 col-md-6">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="checkout__input">
                            <p>
                                {{ form.first_name.label_tag }}<span>*</span>
                            </p>
                            {{ form.first_name }}

                            {% for error in form.first_name.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout__input">
                            <p>
                                {{ form.last_name.label_tag }}<span>*</span>
                            </p>
                            {{ form.last_name }}
                        </div>
                    </div>
                </div>
                <div class="checkout__input">
                    <p>{{ form.state.label_tag }}<span>*</span></p>
                    {{ form.state }}
                </div>

                <div class="checkout__input">
                    <p>{{ form.city.label_tag }}<span>*</span></p>
                    {{ form.city }}
                </div>
                <div class="checkout__input">
                    <p>{{ form.street.label_tag }}<span>*</span></p>
                    {{ form.street }}

                </div>

                <div class="checkout__input">
                    <p>{{ form.building.label_tag }}<span>*</span></p>
                    {{ form.building }}
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="checkout__input">
                            <p>{{ form.phone.label_tag }}<span>*</span></p>
                            {{ form.phone }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout__input">
                            <p>{{ form.post_code.label_tag }}<span>*</span></p>
                            {{ form.post_code }}
                        </div>
                    </div>
                </div>
                <div class="checkout__input">
                    <p>{{ form.customer_notes.label_tag }}<span>*</span></p>
                    {{ form.customer_notes }}
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="checkout__order">
                    <h4>{% trans 'Your Order' %}</h4>
                    <div class="checkout__order__products">{% trans 'Products' %} <span>{% trans 'Total' %}</span></div>
                    <ul>
                        {% for cart_product in cart_products %}
                            <li>{{ cart_product.title }} x {{ cart_product.count }}
                                <span>{{ cart_product.total }} {{ site.currency }}</span>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="checkout__order__total">{% trans 'Total' %} <span
                            class="mx-1">{{ site.currency }}</span>
                        <span>{{ cart_total|floatformat:2 }}</span></div>
                    <button type="submit" class="site-btn">{% trans 'PLACE ORDER' %}</button>
                </div>
            </div>
        </div>
    </form>
</div>