{% extends 'base.html' %}
{% load blog_tags i18n shop_tags %}

{% block title %}
    {% trans 'Cheap to buy delicious fruits and vegetables with delivery' %}
{% endblock %}

{% block content %}
    {% include '_hero/main.html' %}

    {% shop_categories_carousel %}

    {% include '_featured/main.html' %}
    {% include '_banner/main.html' %}
{#    {% include 'products/_top_products/main.html' %}#}

    {% trans 'From The Blog' as related_heading %}
    {% related_posts title=related_heading %}
{% endblock %}