{% load i18n %}
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>{% trans 'Phone' %}</h4>
                    <p>{{ site.phone }}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>{% trans 'Address' %}</h4>
                    <p>{{ site.address }}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_clock_alt"></span>
                    <h4>{% trans 'Work time' %}</h4>
                    <p>{{ site.work_time }}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>{% trans 'Email' %}</h4>
                    <p>{{ site.email }}</p>
                </div>
            </div>
        </div>
    </div>
</section>